---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

    <h1 class="post-list-heading">On Financial Independence</h1>
    <p>|<i> A holistic take on financial independence, and how to get there, from a uk-based mid twenty-something.</i></p>
    <p>Financial independence = having enough wealth to live on, or assets generating enough income, such that you don’t need to work a “normal job” anymore.</p>
    <p>It's an attractive idea, but requires a decent amount of thought, and effort, to actually make it happen. You'll probably have to spend some time thinking about what you value in life too, which is always fun.</p>
    <p>My aim is to help with that some of that stuff.</p>
    <p>I've categorised things you need to think about into three areas. This site is a fun way for me to learn more about the ideas in each of the areas, and hopefully share my thoughts with anyone that cares.
    <img src="/assets/img/threesidesoffi.png" alt="Image: three sides of FI">
    <h3>This site will focus on three rough aspects:</h3>
    <p><b>📈 The mathematical and rational side of money:</b></p>
    <ul>
      <li>Basic concepts of financial independence; earning more, spending less, growing wealth</li>
      <li>General financial concepts; interest, compounding, debt, etc</li>
      <li>What you should be measuring
    </ul>
    <p><b>🤑 The real-life (practical and emotional) side of money:</b></p>
    <ul>
      <li>How to save money</li>
      <li>Where to put your money</li>
      <li>How to systemise things, and form habits
      <li>How we think, feel and talk about money</li>
      <li>Behavioural economics, and tricks we fall for</li>
    </ul>
    <p><b>🔮 The philosophical or conceptual side of money:</b></p>
    <ul>
      <li>What is money, debt, etc</li>
      <li>The why of financial independence</li>
      <li>Taking a "systems thinking" perspective</li>
      <li>Common philosophies like materialsm/consumerism</li>
      <li>Alternative philosophies like minimalism, simple living</li>
    </ul>
    <br>
    <h3>Some links to get you started</h3>
    <ul>
      <li><b><a href="/about">About me:</b></a> some context on who I am</li>
      <li><b><a href="/concepts">Concepts:</b></a> home for all the key ideas</li>
      <li><b><a href="/notes">Notes:</b></a> home for more general thoughts</li>

    <br>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
